/* primary #757575; */
/* title #212121; */
/* accent #2196F3; */
/* Footer contacts rgba(255, 255, 255, 0.6 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --primary-white-color: #ffffff;
  --primary-bg-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
}
/* Отключает точки в списках */
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Уберает нижнее подчеркивание для ссылок класса "link" */
.link {
  text-decoration: none;
}

/* Стили цвета для текста body  */
body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;

  background-color: var(--primary-white-color: #ffffff);
}
/* Флекс-стили для навигации */
.header-container {
  display: flex;
  align-items: center;
}
.nav-container {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.contacts-header {
  display: flex;
  margin-left: auto;
}

.site-nav .item:not(:last-child),
.contacts-header .item:not(:last-child) {
  margin-right: 50px;
}

/* Стили для ссылок навигации */
.site-nav .link,
.contacts-header .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}

/* Стили для логотипа */
.logo {
  /* display: inline-block;
  margin-bottom: 20px; */

  color: var(--accent-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-header .logo-studio {
  color: var(--title-text-color);
}
.logo-footer .logo-studio {
  color: var(--primary-white-color);
}
.logo:hover,
.logo:focus {
  color: var(--accent-text-color);
}

/* Стили для h2 заголовков */
.section .title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* Общие стили оступов к h2 заголовков и текста */
.features-list .title,
.team-list .title {
  margin-top: 0;
  margin-bottom: 10px;
}
.features-list .text,
.team-list .text {
  margin-top: 0;
  margin-bottom: 0;
}

/* Стили секции Героя */
.hero .title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero {
  background-color: var(--primary-bg-color);
  text-align: center;
}

/* Стили для секции Преимущества */
.section.features {
  padding-top: 39px;
}

.features-list {
  display: flex;
}
.features-list .item {
  flex-basis: 270px;
}
.features-list .item:not(:last-child) {
  margin-right: 30px;
}

.features-list .title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
}
.features-list .text {
  line-height: 1.71;
}

/* Стили для секции Чем мы занимаемся */
.section.service {
  padding-top: 0;
}
/* Стили для секции Команда */
.our-team {
  background-color: var(--secondary-bg-color);
}

.team-list .title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
}
.team-list .text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.userpic {
  margin-bottom: 30px;
}
/* Стили для списка портфолио */
.portfolio-list .title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}
.portfolio-pic {
  margin-top: 0;
  margin-bottom: 20px;
}
.portfolio-list .text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
}

/* Стили для кнопок */
.button {
  display: inline-block;
  font-family: Roboto;
  font-size: 16px;
  border: transparent;
  border-radius: 4px;
}
.button.primary {
  padding: 10px 32px;

  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
  font-weight: 700;
  line-height: 1.9;
  align-items: center;
  letter-spacing: 0.06em;
}
.button.secondary {
  padding: 6px 22px;

  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
}
.button.secondary:hover,
.button.secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
}
.button.primary:hover,
.button.primary:focus {
  color: var(--accent-text-color);
  background-color: var(--primary-white-color);
}

/*Стили для подвала */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-bg-color);
}

/* Стили для контактов почты и тел. */

.contacts-header .link {
  color: var(--primary-text-color);
}
.contacts-footer {
  font-style: normal;
  line-height: 1.71;
}
.contacts-footer .link {
  display: inline-block;

  color: var(--footer-contacts-color);
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-text-color);
}

/* Стили для локации офиса*/
.contacts .location {
  color: var(--primary-white-color);
}

/* Стили для контейнера */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  outline: 2px solid red;
}

/* Паддинги для секции */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Оступы для ссылок в футере */
.contacts-footer .link:not(:last-child) {
  margin-bottom: 9px;
}
